/* styles.css */
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.ripple-button {
  position: relative;
  display: inline-block;
}

.ripple-button::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;

  background-color: rgb(255, 250, 250);
  /* background-color: aqua; */
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 3s infinite ease-out;
  pointer-events: none;
}
