/* styles.css */
.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffab17;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
