/* styles.css */
.underline-animationProducts {
  position: relative;
  display: inline-block;
}

.underline-animationProducts::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffab17;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.underline-animationProducts.underline-active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.underline-animationProducts.underline-active > button {
  color: #ffab17;
  transition: color 0.3s ease-in-out;
}

.buttons button {
  transition: color 0.3s ease-in-out;
}
